.adcontainer{
    border: solid #B9D0BA ;
    background-color: #B9D0BA;
    /*height: 10vh;*/
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}
.leftArrow{
    /*border: solid red;*/
    height: 30px;

}
.adText{
    /*border: solid blue;*/
    height: 30px;
}
.adLink{
   /* border: solid green;*/
    height: 30px;
}

.rightArrow{
   /* border: solid red;*/
    height: 30px;
}
.box{
    border: solid peru;
    height:90px;
    width: 90px;
    /*margin:100px; */
    padding: 100px;
}
.navbar{
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.pictureContainer{
    position: relative
}
.mainPic{
    width: 100%
}

.headingLarge{
    display:flex;
    text-align: center;
    position: absolute ;
    top: 48%;
    left: 45%;
    transform: translate(-30%,-60%);
    font: 30px bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.heading{
    display: flex;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 43%;
    transform: translate(-25%);
    font: 20px bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.ShopNow{
    display: flex;
    text-align: center;
    position: absolute;
    top: 68%;
    left: 45%;
    padding: 14px;
    background-color: black;
    color: white;

}